<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">

    <title>注册</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <script src="js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="js/md5.js" type="text/javascript"></script>
    <script type="text/javascript">
        function checkPassword() {
            var loginName = $('#loginName').val();
            var password = $('#password').val();
            var rePassword = $('#rePassword').val();
            if (loginName == "" || password == "" || rePassword == "") {
                alert("账号密码不能为空！");
                return;
            }
            console.log(password);
            console.log(rePassword);
            if (password != rePassword) {
                alert("两次输入的密码不一致！")
            }
            else $('#form').submit();
        }
    </script>
</head>

<body>

<div class="container">
    <form action="/learnC/registerAndLogin" method="post" class="form-signin" id="form">
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="loginName" class="sr-only">Login name</label>
        <input type="text" id="loginName" class="form-control" placeholder="Login Name" name="loginName"  autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" >
        <label for="Repassword" class="sr-only">Repassword</label>
        <input type="password" id="rePassword" class="form-control" placeholder="Repassword" name="rePassword" >
        <input class="btn btn-lg btn-primary btn-block" type="button" value="提交" id="registerButton" onclick="checkPassword()" />
    </form>

</div> <!-- /container -->

</body>
</html>